[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-km-log
Exec=sailfish-qml harbour-km-log
Name=Kilometer
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
# Name[de]=Kilometer

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=nl.cow-n-berg
# ApplicationName does not have to be identical to Name
ApplicationName=km-log
# Add the required permissions here
# Permissions=Notifications

[X-HarbourBackup]
# BackupPathList=.local/share/harbour-km-log/
# BackupConfigList=/apps/harbour-km-log/
BackupPathList=.local/share/nl.cow-n-berg/harbour-km-log/
BackupConfigList=/apps/nl.cow-n-berg/harbour-km-log/
